* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    list-style: circle;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #97C8EB;
    background-image: url(../../BONUS/img/Senza\ titolo-2.png);
    background-size: 150px;
    /* background-repeat: no-repeat; */
}


#container {
    width: 720px;
    height: 440px;
    position: relative;
    margin-top: 70px;

    border-radius: 15px;
    /* background: #F7EF81; */
    background-image: url(../../BONUS/img/Senza\ titolo-4.png);
    /* box-shadow:  5px 5px 2px #ded774,
                 -5px -5px 2px #ffff8e; */
}


#button {
    width: 210px;
    height: 105px;
    font-family: 'Dokdo', sans-serif;
    font-size: 25px;
    line-height: 36px;
    font-weight: 600;
    position: absolute;
    top: 35%;
    left: 60px;
    padding: 30px;
    cursor: pointer;
    border-radius: 15px;
    background-image: url(../../BONUS/img/Senza\ titolo-1.png);
    user-select: none;
    /* background: #D88C9A;
    box-shadow:  5px 5px 2px #c27e8b,
                 -5px -5px 2px #ee9aa9; */
}

#list {
    position: absolute;
    left: 350px;
    margin-top: 60px;
}

#list li {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}